
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Sans+Pro:300,300i');

// font-family: 'Open Sans', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;

body{

}

/* header */

.bouncy__header {
	background: #6a5e4b url(../img/bg_first.jpg) center no-repeat;
	background-size: cover;
	height: 100vh;

	&-logo {
		margin-top: 46px;
	}
	&-menu {
		float: right;
		display: inline-flex;
		flex-direction: row;
		align-content: center;
		list-style: none;
		margin-top: 48px;

		&-item {
			text-align: right;
			margin-left: 25px;
			border: 1px solid transparent;

			&-link {
				text-decoration: none;
				color: #fff;
				font-family: 'Open Sans', sans-serif;
				font-size: 16px;
				font-weight: 400;
				line-height: 12px;

				&:hover {
					border: 1px solid #fff;
					border-radius: 17px;
					padding: 15px;
				}

			}
		}
	}

	&-title {
		color: #fff;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 35px;
		font-weight: 300;
		line-height: 70px;
		text-transform: uppercase;
		letter-spacing: 7px;
		text-align: center;
		margin-top: 293px;
	}

	&-text {
		color: #ffffff;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 28px;
		letter-spacing: 0.8px;
		width: 640px;
		text-align: center;
		margin: 0 auto;

		&--align {
			text-align: right;
		}
	}

	&-button {
		display: block;
		text-align: center;
		margin-top: 458px;
	}
}

/* portfolio */

.bouncy__portfolio {
	background: #f3f3f3;

	&-title {
		color: #000;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 20px;
		font-weight: 300;
		line-height: 12px;
		text-transform: uppercase;
		letter-spacing: 4px;
		text-align: center;
		margin-top: 75px;
	}

	&-text {
		color: #81868e;;
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: 400;
		line-height: 25px;
		letter-spacing: 0.7px;
		width: 460px;
		text-align: center;
		margin: 40px auto;
	}

	&-menu {
		list-style: none;

		&-item {
			float: left;
			padding-left: 27px;

			&-link {
				color: #464646;
				font-family: 'Open Sans', sans-serif;
				font-size: 16px;
				font-weight: 400;
				line-height: 12px;
				list-style: none;
				text-decoration: none;
			}
		}
	}

	&-pic-box {
		display: inline-block;
		//margin: 0 25px 0 25px;

		&-item {
			display: inline-block;
		}
	}

}

/* team */

.bouncy__team {

	&-box {
		margin-top: -55px;
		margin-right: 112px;
		position: relative;

		&::after {
			content: '';
			width: 7px;
			height: 45px;
			background-color: #19bd9a;
			position: absolute;
			top: 50px;
			right: -55px;

		}
	}

	&-image {
		margin-left: 65px;
	}

	&-title-member {
		color: #464646;
		font-family: 'Open Sans', sans-serif;
		font-size: 20px;
		font-weight: 400;
		line-height: 125px;
		letter-spacing: 0.8px;
		text-align: right;
	}

	&-title-description {
		color: #81868e;
		font-family: "Source Sans Pro";
		font-size: 14px;
		font-style: italic;
		font-weight: 300;
		line-height: 25px;
		text-transform: uppercase;
		letter-spacing: 1.4px;
		text-align: right;
		margin-top: -65px;
	}

	&-title-align {
		text-align: right;
		margin-right: 0px;
		width: 370px;
		margin-top: 32px;
	}
}

/* contact us */

.bouncy__contact {
	background: #000 url(../img/bg-counact-us.jpg) center no-repeat;
	background-size: cover;
	margin-top: 100px;

	&-title {
		color: #fff;
		font-family: "Open Sans";
		font-size: 20px;
		font-weight: 400;
		line-height: 25px;
		letter-spacing: 0.8px;
		text-align: center;
		margin-top: 60px;
	}

	&-box {
		margin-top: 28px;
		margin-bottom: 57px;
		text-align: center;
		border: 1px solid #fff;
		border-radius: 19px;
		width: 143px;
		line-height: 39px;

		&:hover {
			background: #fff;
			transition: .3s;
		}
		&:hover &-button {
			color: #000;
			transition: .3s;
		}

		&--align {
			margin: 28px auto 57px;
		}

		&-button {
			color: #fff;
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 400;
			line-height: 12px;
			text-decoration: none;
		}
	}
}

/* testimonials */

.bouncy__testimonials {
	background: #f3f3f3;


	&-box {
		background: #fff;
		margin-bottom: 97px;

		&-image {
			margin-top: 54px;
			margin-left: 98px;
		}

		&-text {
			color: #81868e;
			font-family: 'Open Sans', sans-serif;
			font-size: 16px;
			font-weight: 400;
			line-height: 28px;
			letter-spacing: 0.8px;
			width: 754px;
			margin-top: 61px;
		}

		&-partho {
			color: #19bd9a;
			font-family: "Open Sans";
			font-size: 16px;
			font-weight: 700;
			line-height: 20px;
			text-transform: uppercase;
			letter-spacing: 0.64px;
			margin-top: 30px;
		}

		&-founder {
			color: #464646;
			font-family: "Open Sans";
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			text-transform: uppercase;
			letter-spacing: 0.56px;
			margin-top: -10px;
			margin-bottom: 108px;
		}
	}
}

/* contact us - maps */

.bouncy__contactus {
	margin-top: 10px;

	&-logo {
		display: block;
		margin: 68px auto -23px;

	}

	&-socials-link-box {
		text-align: center;
		margin-top: -8px;

		&-ico {
			padding-left: 7px;
			margin-bottom: 70px;
			cursor: pointer;
		}
	}
}

/* isotop */
.button-group {
	text-align: center;
	margin-top: 18px;
	margin-bottom: 72px;

	.button-group-item {
		color: #464646;
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		font-weight: 400;
		line-height: 12px;
		text-decoration: none;
		padding-left: 27px;
	}
}

.grid {
	margin-bottom: 99px;

	.grid-item {
		margin: 7px;
	}
}

/* slider */

.slider {
	margin-bottom: 100px;
	margin-top: 19px;

	&-item {

	}
}

.slick-dots li button::before {
	border: 1px solid #19bd9a;
	border-radius: 50%;
	width: 13px;
	height: 13px;
	color: transparent;
}
.slick-dots {
	
}
.slick-dots li.slick-active button:before {
	color: transparent;
	background: #19bd9a;
}

/* maps */

#map {
        height: 439px;
        width: 100%;
       }


/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}

.ba-wrap {
	width: 1170px;
	margin: 0 auto;
}



/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
